<div class="main-container">
<img id="home-image" src="/css/AdobeStock_120493815.jpeg" alt="">
<p class="intro-text">Welcome to your future of fitness</p>
<img id="home-image2" src="/css/AdobeStock_393036383.jpeg" alt="">
</div>