<div class="main-container">
<img id="home-image" src="/css/AdobeStock_120493815.jpeg" alt="">
<p class="intro-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam, sint aliquid, non quas autem, unde dolorem est ratione nemo iure temporibus itaque ipsam molestiae expedita hic nostrum voluptate aut!</p>
</div>