<div class="main-container">
    <div class="img2-container"></div>
    <div class="img1-container">
        <div class="info-container">
            <div class="info-text">
                <h2>TIRED OF YOUR LOCAL GYM?</h2>
                <h4>START YOUR FITNESS JOURNEY FROM THE COMFORT OF YOUR OWN HOME! </h4>

            </div>
            <div class="login-signup">
                <a href="/api/login" class="btn-login">
                    <p>LOGIN</p>
                </a>
                <a href="/api/signup" class="btn-signup">SIGN UP!</a>
            </div>
        </div>
    </div>
</div>
<p class="intro-text">Welcome to <b>YOUR</b> future in fitness</p>
{{!-- <img id="home-image" src="/css/AdobeStock_120493815.jpeg" alt="">
<img id="home-image2" src="/css/AdobeStock_393036383.jpeg" alt=""> --}}

</div>