<div class="container">
    <div class = "row row-custom">
        {{!-- {{#if listExists}} --}}
        <ul>
            <li>workout 1</li>
            <li>workout 2</li>
            <li>worout 3</li>
        </ul>
    </div>
    <div class="row row-custom video" >
        <div>
            <p>video</p>
        </div>
    </div>
</div>