<div class="container container-sm container-md container-lg">
    <div class = "row row-custom">
        {{!-- {{#if listExists}} --}}
      <ul>
           <li>workout 1</li>
            <li>workout 2</li>
            <li>worout 3</li> 
        </ul>
    </div>
    <div class="row row-custom video" >
        <div>
            <p class="big-box">video</p>
        </div>
    </div>
</div> 

