<main>
    <div class="title">

    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-image-4">
                <p class="card-title">INSTRUCTOR LED WORKOUTS</p>
            </div>
            <div class="card-top-text">
                <p>NEED SOME GUIDANCE?</p>
            </div>
            <hr>
            <div class="card-bottom-text">
                <p>OUR TOP TIER PROFFESIONALS ARE HERE TO HELP!</p>
            </div>
            <div class="card-button">
                <button>ENTER</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image-2">
                <p class="card-title">GENERATE RANDOM WORKOUT</p>
            </div>
            <div class="card-top-text">
                <p>WANT A RANDOM WORKOUT?</p>
            </div>
            <hr>
            <div class="card-bottom-text">
                <p>FEEL FREE TO USE OUR RANDOM WORK OUT FEATURE!</p>
            </div>
            <div class="card-button">
                <button>ENTER</button>
            </div>
        </div>
        <div class="card">
            <div class="card-image-3">
                <p class="card-title">CUSTOMIZABLE WORKOUTS</p>
            </div>
            <div class="card-top-text">
                <p>SICK OF THE SAME ROUTINE?</p>
            </div>
            <hr>
            <div class="card-bottom-text">
                <p>BUILD YOUR OWN WORKOUTS AND GO AT YOUR DESIRED PACE! </p>
            </div>
            <div class="card-button">
                <button>ENTER</button>
            </div>
        </div>
    </div>
    <div class="icons">

    </div>

</main>