<main class="card-container">
    <div class = "card">
        
        <div class="card-top-text loginTitle">
            <p>Login</p>
        </div>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name = "username" required>  
        
        <label for="psw"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name = "psw" required>   
        

        <div class="card-button loginTitle">
            <button type="submit">Login</button>
        </div>   
    </div>

</main>