<main>
    <div class="title workout-page">
      
        <H2 class="workout-page">{{name}}</H2>
    </div>
    <div>

        <div class="card-container">

            <div class="row card list">
                <div>
                    <p class="card-top-text"> About </p>
                </div>
                {{!-- not sure what gets passed in here. --}}
 <form action="/">
  <label for="age"> Age:</label>
  <input type="text" id="age" name="age"><br><br>
  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="weight"><br><br>
  <label for="height">Height:</label>
  <input type="text" id="height" name="height"><br><br>
  <p>Select your gender.</p>
  <input type="radio" id="genderfemale" name="female" value="female">
<label for="genderfemale"> Female</label><br>
<input type="radio" id="genderMale" name="male" value="gender">
<label for="genderMale"> Male</label><br>
  <input type="submit" value="Submit">
</form>
                </div>
            
            <div class="row card main-content">
                <div class="goal">
                    <h2 class="card-top-text" id="workout-name">Goals</p>
                </div>

                <div class="goal">
                  <h3 class="goalh2">Your Goal</h2>
                    <p >{{goal}}</p>
                </div>
                <div class="goal">
                  <h3>Ideal Body weigh</h2>
                    <p>{{ibm}}</p>
                </div>
                <div class="goal">
                  <h3>Basal Metabolism Rate</h2>
                    <p>{{bmr}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

{{!-- <script src="/js/scriptprofile.js" type="scrpit/js"></script> --}}
<script>
  const age = document.getElementById("age");
const weight =document.getElementById("weight");
const height =document.getElementById("height");
const female =document.getElementById("genderfemale");
const male = document.getElementById("genderMale")
const gender =""
console.log("hello")
const getGender=(female,male)=>{
if (!male && female){
    gender = female;
    return gender;
    
}else{
    gender = male;
    return gender;
}}

// get to the user info
// name,age,weight, height,goal, gender

// post with enter create new data and send data back

fetch("/api/profile/data/"+ req.session.userId).then(response=>{
    return response.json()
        }).then(_data=>{
          res.render("profile",{name:profileData.userName,age:profileData.age,height:profileData.height, weight: profileData.weight, gender:profileData});
        });
    

// add event listener to initate the post
fetch('/api/profile/userinfo'), {
    method: "post",
    headers:{
        Accept: 'application.json',
        'content-type': 'application/json'
    },
    body: JSON.stringify({
        height:height,
        weight: weight,
        gender:gender,
        age:age,
        goal:goal
  

    }),
    cache:'default'
}

</script>