<div class="title workout-page">
<H2 class="workout-page">Random Workout</H2>
    </div>
<div>
     
<div class="card-container">
   
    <div class = "row card list">
        <div>
<p  class="card-top-text card-title">Generated Workout</p>
      <form action="/api/profile/data/">
  <label for="age"> Age:</label>
  <input type="text" id="age" name="age"><br><br>
  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="weight"><br><br>
  <label for="height">Height:</label>
  <input type="text" id="height" name="height"><br><br>
<label for="genderfemale"> Female</label><br>
<input type="radio" id="genderMale" name="male" value="gender">
<label for="genderMale"> Male</label><br>
  <input type="submit" value="Submit">
</form>
        </div>
    </div>
    <div class="row card main-content">
                <div class="goal">
                    <h2 class="card-top-text" id="workout-name">Goals</h2>
                </div>

                <div class="goal">
                  <h3 class="goalh2">Your Goal</h2>
                    <p >{{goal}}</p>
                </div>
                <div class="goal">
                  <h3>Ideal Body weigh</h2>
                    <p>{{ibm}}</p>
                </div>
                <div class="goal">
                  <h3>Basal Metabolism Rate</h2>
                    <p>{{bmr}}</p>
                </div>
            </div>
           
        </div>
       
    </div>
</div>
</div>
</main>




<script src="/js/scriptprofile.js" type="scrpit/js"></script>


