<main>
    <div class="title workout-page">
<<<<<<< HEAD
        <H2 class="workout-page">Users Name</H2>
=======
        <H2 class="workout-page">{{name}}</H2>
>>>>>>> f9d08db (updated profile routes to use sessions)
    </div>
    <div>

        <div class="card-container">

            <div class="row card list">
                <div>
                    <p class="card-top-text"> About </p>
                </div>
                {{!-- not sure what gets passed in here. --}}
 <form action="/">
  <label for="age"> Age:</label>
  <input type="text" id="age" name="age"><br><br>
  <label for="weight">Weight:</label>
  <input type="text" id="weight" name="weight"><br><br>
  <label for="height">Height:</label>
  <input type="text" id="height" name="height"><br><br>
<<<<<<< HEAD
=======
  <input type="checkbox" id="genderfemale" name="vehicle1" value="Bike">
<label for="genderfemale"> Female</label><br>
<input type="checkbox" id="genderMale" name="vehicle2" value="Car">
<label for="genderMale"> Male</label><br>
>>>>>>> f9d08db (updated profile routes to use sessions)
  <input type="submit" value="Submit">
</form>
                </div>
            
            <div class="row card main-content">
                <div>
                    <p class="card-top-text" id="workout-name">What your pushing for!</p>
                </div>

                <div>
                  <h2>Your Goal</h2>
                    <p>{{GOAL}}</p>
                </div>
                <div>
                  <h2>Ideal Body weigh</h2>
                    <p>{{IBW}}</p>
                </div>
                <div>
                  <h2>Basal Metabolism Rate</h2>
                    <p>{{BMR}}</p>
                </div>
            </div>
        </div>
    </div>
</main>

<<<<<<< HEAD
<script src="/public/js/cal.js"></script>
=======
<script src="/js/profile"></script>
>>>>>>> f9d08db (updated profile routes to use sessions)
