<main>
    <div class="title workout-page">
<H2 class="workout-page">Random Workout</H2>
    </div>
<div>
     
<div class="card-container">
   
    <div class = "row card list">
        <div>
<p  class="card-top-text card-title">Generated Workout</p>
        </div>
        {{!-- {{#if listExists}} --}}
        <div>
        <ul class="db-list">
            <li class="db-selection">workout 1</li>
            <li class="db-selection">workout 2</li>
            <li class="db-selection">workout 3</li>
        </ul>
        </div>
    </div>
    <div class="row card main-content" >
        <div>
            <p class="card-top-text card-title">Selection</p>
        </div>
        <div>
            <P class="description">Pick which workout types you would like included. </P>
        </div>
        <div class="random">
            <div class="selector">
                <p>Cardio</p>
            </div>
            <div class="selector">
                <p>Lower Body</p>
            </div>
            <div class="selector">
                 <p>Upper Body</p>
            </div>
           
        </div>
        <div>
            <button class="generate">Generate Workout</button>
        </div>
    </div>
</div>
</div>
</main>