{{!-- list of custom workouts --}}
<div class = "card-container">
    
    {{#each Custom}}
    <div class="card">
        <div class="card-body">
            <h1>{{this.dataValues.user_name}}</h1>
            <h5 class="card-title">{{this.dataValues.workout}}</h5>
            <p class="card-text"></p>
            <p class="card-text"></p>
        </div>
    </div>
    {{/each}}
</div>

<script src="/js/sharedWorkout.js"></script>