{{!-- list of custom workouts --}}
<div class = "card-container">
    {{#each custom}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{custom.id}}</h5>
            <p class="card-text">{{}}</p>
            <p id="oneRep">click here for Cal</p>
        </div>
    </div>
    {{/each}}
</div>

{{!-- specific routines w/in custom workout --}}
{{!-- <div class = "card-container">
    {{#each }}
    
    {{/each}}
</div> --}}
