<main class="card-container">
    <div class="card">
        <div class="card-top-text loginTitle">
            <p>Create an Account</p>
        </div>

        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name = "username" required>

        <label for="psw"><b>Password</b></label>
        <input type="text" placeholder="Enter Password" name = "psw" required>

        <label for="psw2"><b>Password Comfirmation</b></label>
        <input type="text" placeholder="Enter Password" name = "psw2" required>

        <div class="card-button loginTitle">
            <button type="submit">Sign-Up</button>
        </div>        
    </div>

</main>
