header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid;
  background-color: rgb(255, 0, 48);
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 20px;
}

#home-image {
  width: 70%;
  margin: auto;
  /* border: solid; */
  display: block;
  padding: 2em;
}

.main-container {
  width: 80%;
  margin: auto;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
}

.intro-text {
  text-align: center;
  color: rgb(255, 0, 48);
  font-weight: 600;
}
