* {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  width: 100vw;
  min-height: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 0, 48);
  color: white;
  display: flex;
  justify-content: center;
}

.header-container{
  display: flex;
  width: 80vw;
  justify-content: space-between;
}
.head-title{
 
  display: flex !important; 
  justify-content: center !important;
  text-align: center;
  align-items: center !important;
  min-height: 10vh;
  text-shadow: 1px 1px 10px rgb(28, 77, 90);
}

/* .wellness{
  color:rgb(255, 255, 127)  ;
} */

nav a{
  color: rgb(251, 251, 251) !important;
 margin-right: 10px !important;
 font-size: 1rem !important;
 border-right: 1px solid rgb(255, 255, 255);
 padding-right: 5px !important;
}

nav a:hover{
  color: rgb(255, 255, 127) !important;
 margin-right: 10px !important;
 font-size: 1rem !important;
 border-right: 1px solid rgb(255, 255, 127) ;
 padding-right: 5px !important;
}

nav a:active {
  text-shadow: 0 0 15px rgb(28, 77, 90);
}

.main-container {
  width: 100%;
  height: 95vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.intro-text{
  margin-top: 10% !important;
   text-align: center;
  color: rgb(255, 0, 48);
  font-weight: 600;
}
.img1-container{
  width: 80vw;
  min-height: 60vh;
  background-image: linear-gradient(to bottom, rgba(242, 243, 249, 0.214), rgba(253, 127, 135, 0.73)), url(./AdobeStock_393036383.jpeg);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 5% !important;
  
}

.img2-container{
  width: 80vw;
 min-height: 30vh;
  background-image: url(./AdobeStock_120493815.jpeg);
  background-size: cover;
  background-position: 50% 50%;
  margin: 4% 0 4% 0 !important;
}

header img {
  width: 8vw;
  height: auto;
}

.info-container{
  min-height: 60vh;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
   background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
}

.info-text{
  width: 35vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-shadow: 1px 1px 10px black;
}
.info-text h4{
  line-height: 1.6;
}

.login-signup{
 width: 35vw;
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  text-align: center;
}

.btn-login,
.btn-signup {
  width: 10vw !important;
  background-color: rgba(253, 76, 109, 0.695);
  border: 1px solid rgb(255, 254, 254);
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  height: 8vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-login:hover,
.btn-signup:hover {
  width: 10vw !important;
  background-color: rgb(255, 46, 84);
  border: 1px solid rgb(255, 254, 254);
  font-size: 1.2rem;
}

.btn-login:active,
.btn-signup:active {
  width: 10vw !important;
  background-color: rgb(255, 0, 47);
  border: 1px solid rgb(255, 254, 254);
  box-shadow: 0 0 15px white;
  font-size: 1.2rem;
}


/* AFTER SIGN IN LANDING PAGE (ERIC) */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title {
  height: 10vh;
  width: 90vw;
}

.card-container {
  height: 610px;
  width: 98vw;
  overflow-x: hidden;
  display: flex;
  justify-content: space-evenly;
}

.card {
  height: 560px;
  width: 30vw;
  background-color: rgba(235, 235, 235, 0.706);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 8px 15px grey;
}

.card-image-1 {
  min-height: 200px;
  width: 30vw;
  /* background-image: url(https://images.unsplash.com/photo-1518459031867-a89b944bffe4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1141&q=80); */
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.card-image-4 {
  min-height: 200px;
  width: 30vw;
  background-image: url(https://images.unsplash.com/photo-1518459031867-a89b944bffe4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1141&q=80);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.card-image-2 {
  min-height: 200px;
  width: 30vw;
  background-image: url(https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-size: cover;
  background-position: 100% 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}
.card-image-3 {
  min-height: 200px;
  width: 30vw;
  background-image: url(https://images.unsplash.com/photo-1483721310020-03333e577078?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.card-title {
  padding: 2px;
  font-size: 1.1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  backdrop-filter: blur(2px);
  text-shadow: 2px 2px 2px black;
}

.card-top-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 80px;
  font-size: 1.3rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}
hr {
  border-bottom: 1px solid rgb(255, 0, 48);
  width: 70px;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}
.card-bottom-text {
  min-height: 100px;
  width: 30vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
}

.card-button {
  width: 30vw;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  width: 28vw;
  height: 60px;
  background-color: rgb(255, 0, 48);
  color: white;
  font-size: 1.5rem;
  border: none;
}

.icons {
  width: 98vw;
  display: flex;
  justify-content: space-evenly;
}

/* END (ERIC) */

.workout-page {
  margin: 5px 0 0 0;
  text-align: center;
}

.db-list {
  list-style: none;
  font-size: medium;
}
.db-selection {
  font-size: medium;
  color: black;
}

.random {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.selector {
  height: 60px;
  padding: 5%;
}
.generate {
  margin-top: 20%;
}

.description {
  text-align: center;
}

.loginTitle {
  margin: 4rem 0 2rem 0;
}

#addCardio {
  border: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 0, 48);
  cursor: pointer;
}
#addLowerbody {
  border: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 0, 48);
  cursor: pointer;
}
#addUpperbody {
  border: solid;
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(255, 0, 48);
  cursor: pointer;
}


.goalh2  {
  text-align: center;
  font-weight: 400;
}